---
layout: archive
title: "Blog"
permalink: /blogs/
---

<h4>Hi There! Let's grow together. Cheers!</h4>

<!-- Blog Categories Section -->
<div class="blog-categories">
    <h3>Categories</h3>

    <!-- VerilogA Tutorials -->
    <div class="category">
        <h4>VerilogA Tutorials</h4>
        <div class="blog-list">
            {% for post in site.veriloga %}
                <div class="blog-post">
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    <p>{{ post.excerpt }}</p>
                    <a href="{{ post.url }}" class="read-more">Read More</a>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- ADC Tutorials -->
    <div class="category">
        <h4>ADC Tutorials</h4>
        <div class="blog-list">
            {% for post in site.adc %}
                <div class="blog-post">
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    <p>{{ post.excerpt }}</p>
                    <a href="{{ post.url }}" class="read-more">Read More</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

