---
layout: default
title: "VerilogA Tutorials"
---

<h2>VerilogA Tutorials</h2>
<p>Below are all the available Verilog-A tutorials:</p>

<div class="blog-list">
    <ul>
        {% for file in site.static_files %}
            {% if file.path contains '/blogs/veriloga/' and file.extname == '.html' %}
                <li>
                    <a href="/profile{{ file.path }}">{{ file.name | replace: ".html", "" }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<style>
    .blog-list ul {
        list-style-type: none;
        padding: 0;
    }

    .blog-list li {
        margin: 10px 0;
    }

    .blog-list li a {
        text-decoration: none;
        color: #007BFF;
        font-size: 1.2em;
    }

    .blog-list li a:hover {
        text-decoration: underline;
    }
</style>
